<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
    <title>API Data</title>
</head>
<body>
    <row>
        <div>
            <form action="" method="GET">
                Name<input type="text" name="name" value="{{name}}">
                Location<input type="text" name="location" value={{location}}>
                Amenity<input type="text" name="amenity" value={{amenity}}>
                Sort<input list="sort_options" name="sort">
                <datalist id="sort_options">
                    <option value="rating"></option>
                    <option value="n_reviews"></option>
                    <option value="usd_prices_from_asc"></option>
                </datalist>
                Limit<input type="number" name="limit" value={{limit}}>
                <button type="submit">Submit</button>
            </form>
        </div>
    </row>
    <div style="text-align: center;">
        <h3>{{ message }}</h3>
    </div>
    <row>
        <div>
            <table>
                <tr>
                    <th>Hostel Name</th>
                    <th>Hostel Location</th>
                    <th>Rating</th>
                    <th>Prices From</th>
                    <th>Number of Reviews</th>
                    <th>Link</th>
                </tr>
                {% for hostel in hostels %}
                <tr>
                    <td> {{ hostel.name }} </td>
                    <td> {{ hostel.location }} </td>
                    <td> {{ hostel.rating|floatformat:1 }} </td>
                    <td> {{ hostel.usd_prices_from }} </td>
                    <td> {{ hostel.n_reviews }} </td>
                    <td> <a href={{ hostel.link }}>{{ hostel.name }} link</a> </td>
                </tr>
                {% endfor %}
            </table>
            <br>
            <form action="csv" method="GET">
                <input type="hidden" name="name" value={{name}}>
                <input type="hidden" name="location" value={{location}}>
                <input type="hidden" name="limit" value={{limit}}>
                <button type="submit">Download CSV</button>
            </form>
        </div>
    </row>
</body>
</html>